*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.primary-color{
    /* color: #30B868; */
    background-color: #30B868;

}
.primary-color-text{
    color: #30B868;
}

.primay-btn{
   
    color: white;
    padding: 12.5px  16px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
}
.primay-btn:hover{
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: 2px solid white;
}

/* font style  */

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

.container{
    
    width: 1200px;
    margin: auto;
    border: 2px solid red;
}

.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.menu ul li {
    text-decoration: none;
    color: black;
    list-style: none;
    gap: 10px

}
.menu ul li a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: medium;

}
ul{
    display: flex;
    gap: 99px;

}

/* banner area style  */
.banner{
    
    width: 100%;
    height: 500px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: url("/assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 80vh;
    
    
    height: 100vh;


}

.banner *{
  position: relative;
  z-index: 1;
}
.banner::after{
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(2, 28, 58, 0.342); 
  z-index: 0;
    
}

.banner-container{
    width: 1200px;
    margin: auto;

}



.pill-btn button{
    background-color: white;
    color: #30B868;
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    font-size: 16px;
    font-weight: medium;
    cursor: pointer;
    margin-left: 300px;
    

}
.banner-title h1{
    color: white;

}
.banner-title .h1{
    color: #30B868;
}

.banner-title{
    font-size: 30px;
    font-weight: bolder;
    margin-top: 20px;
    text-align: center;
}
.pera{
    padding-top: 20px;
    font-size: 18px;
    font-weight: lighter;
    color: white;
    line-height: 2;
    
}
.banner-center{
    width: 50%;
    
    

}
.twin-btn{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
    font-weight: lighter;

}
.set-icon{
    display: flex;
    align-items: center;
    
}
.primay-btn img{
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}
.secondary-btn{
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

.section2 div h1{
    font-size: 48px;
    margin-top: 50px;
    color: #001931;
}
.section2 div p{
    color: #627382;
    font-size: 16px;
    margin-top: 10px;
    

}

.box{
    
    
    background-color: #F95555;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    /* gap: 30px; */
    margin-top: 50px;
    margin-left: 120px;

   

}
.box-img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    height: 32px;
    height: 32px;
    
}

.box-title h1{
    font-size: 24px;
   display: flex;
   align-items: center;
    color: #001931;
    text-align: center;
}
.main-box{

    width: 300px;
    height: 250px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    
}
.box-title h1 {
    color: #001931;
    font-size: 24px;
    margin-top: 10px;
    align-items: center;
    margin-left: 60px;

}
.box-pera p{
    margin-top: 10px;
    font-size: 14px;
    color: #627382;
    text-align: center;

}

.boxbox{
    display: flex;
    /* gap: 30px; */
    justify-content: center;
    /* margin-top: 50px; */
    /* margin-bottom: 50px; */

}

.section4{
    display: flex;
    margin-top: 100px;

}
.section4 h1{
    color: #001931;
    margin-top: 20px;
}
.section4 p{
    color: #627382;
    font-size: 16px;
    margin-top: 10px;
    line-height: 20px;
    margin-top: 30px;
}

.section4 ul {
    list-style: none;
    margin-top: 10px;
    color: #001931;
    font-size: 16px;
    display: block;
    margin-top: 20px;
    


}
.section4 ul li{
    margin-top: 10px;
}

.section4part2{
    margin-top: 20px;
}
.new-text{
    color: #30B868;
    font-weight: bolder;
}

.bgcolor{
    background-color: #ebecee;

}

.section6{
    
    text-align: center;
}

.cheack-box li{
    display: flex;
    align-items: center;
    
}
.cheack-box li img{
    margin-right: 10px;
}
